POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

METRICS_USER=
METRICS_PASSWORD=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

APP_ENV=
MIGRATION_VERSION=
SEED_COUNT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_CONSOLE_PORT=

MINIO_BACKUP_ACCESS_KEY=
MINIO_BACKUP_SECRET_KEY=

BACKUP_INTERVAL=
BACKUP_RETENTION_COUNT=
BUCKET_BACKUP_NAME=

MINIO_PROMETHEUS_AUTH_TYPE=