POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb
POSTGRES_PORT=5432
POSTGRES_HOST=db

METRICS_USER=metrics_user
METRICS_PASSWORD=metrics_password

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

APP_ENV=dev
MIGRATION_VERSION=
SEED_COUNT=50000
WORKLOAD_PORT=8080
WORKLOAD_POOL_SIZE=20
WORKLOAD_SQL_PROFILE=optimized

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://minio:9000
MINIO_CONSOLE_PORT=9001

MINIO_BACKUP_ACCESS_KEY=backup_user
MINIO_BACKUP_SECRET_KEY=backup_user_password

BACKUP_INTERVAL=*/5 * * * *
BACKUP_RETENTION_COUNT=5
BUCKET_BACKUP_NAME=postgres-backups

MINIO_PROMETHEUS_AUTH_TYPE=public
