global
    maxconn 100

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend postgres_front
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
